* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, span, ul, ol, li, a {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

nav .navbar-nav li {
  padding: 0 15px;
}
nav .navbar-nav li a {
  padding: 0 !important;
  color: #11161E !important;
  transition: 0.35s;
}
nav .navbar-nav li:hover a {
  color: #FF6F61 !important;
}
nav .navbar-nav li:hover a span svg {
  transform: rotateZ(180deg);
  transition: 0.35s;
}
nav .navbar-nav li:first-child {
  padding-right: 25px;
  padding-left: 0;
}
nav .navbar-nav li:last-child {
  padding-right: 0;
}
nav .left-icons li {
  display: inline-block;
  padding: 0 10px;
}
nav .left-icons li a {
  color: #151A32;
  transition: 0.35s;
  position: relative;
}
nav .left-icons li a span {
  position: absolute;
  top: -30%;
  right: -60%;
  z-index: 99;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #FF6F61;
  text-align: center;
  line-height: 15px;
  font-size: 14px;
  color: #fff;
}
nav .left-icons li:hover a {
  color: #FF6F61;
}